html{
    scroll-behavior: smooth;
}
a.returnbutton{
    color:black;
}
a{
    text-decoration: none;
    color:rgb(52, 137, 255);
}
a.redirect{
    text-decoration: underline;
}
p{
    background-color: rgba(255, 233, 155, 0.86);
    padding: 5px 100px;
    line-height: 40px;
    border-radius: 7px;
    border-style: dotted;
    border-width: 3px;
}