div.header {
    grid-column: 1 / -1;
    background-color: #DDDDDD;
    color: black;
    max-height: 10vh;
    font-size: 100%;
    padding: 2vh 4vh;
}

div.pagetitle {
    display: flex;
    grid-column: 1 / -1;

}
h2.pagetitleh2 {
    align-items: center;
    margin: 2vh 0px;
    padding: 1.5vh 0px;
}
.header-title {
    margin: 0;
    font-size: 36px;
    text-decoration: none;
    color: black;
    font-size: 48px;
}

h1 {
    margin: 0px;
}

.gfigure{
    max-height: fit-content;
    text-align: center;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 9%;
    box-shadow: 4px 4px 16px;
    max-width: 100%;
}
.gimage {
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    border-radius: 9px;
}
.fcaption {
    text-align: center;
    margin-top: 10px;
}
.grid-container {
    display: grid;
    grid: 12vh 12vh 1fr  / 100vw;
    height: 100vh;
    margin: 0;
    overflow: auto;
}
div.imagegrid {
    display: grid; 
    justify-content: flex-start;
    background-color: rgb(220, 220, 220);
    border: 2px solid black;
    border-radius: 2%;
    grid: none/repeat(3,25vw);
}
div.contentcontainer{
    display: grid; 
    justify-content: flex-start;
    grid: auto / 20vw 75vw;
}
div.nav{
        background-color: #f0f0f0;
        color: black;
        overflow-y: auto;
        max-width: 100%;
        margin-right: 2vw;
        border: 2px solid black;
        border-radius: 6px;

}
body {
    font-family: Arial, Helvetica, sans-serif;   
    background-color: rgb(249, 249, 249);
    margin: 0; 
    overflow-y: auto;   
}
a {
    text-decoration: none;
    color: black;
}
a.pagelink{
    color:rgb(52, 137, 255);
    font-size: 120%;
}
a.pagelink:hover {
    text-decoration: underline;
}
a.homepagelink {
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 140, 140, 0.469);
    border-radius: 10%;
    width: 150px;
    height: 30px;
    box-shadow: 1px 1px 5px rgba(190, 190, 190, 0.55); 
    padding: 10px 5px;
    margin: 100px 10px 10px 3px;
}
a.homepagelink :hover{
    background-color: rgb(255, 108, 108);
    color:white;
    transition: 30ms;
}
ul {
    list-style-type: none;
    line-height: 300%;
    padding: 10%;
    margin: 0px
}
li.title {
    font-size: 150%;
    font-weight: bold;
}
li.linkcontain {
    max-width: 100%;
}
